.todo-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: .5rem;
  border-bottom:1px solid #ddd;

  .check-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: .5rem;
    height: .5rem;
  }
  
  .content{
    flex: 1;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    min-width: none;
    font-size: .16rem;
  }

  .btn-group{
    display: flex;
    flex-direction: row;
  }
  .btn {
    margin-left: .1rem;
    font-size: .12rem;
  }
}